<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Telerik" value="D:\Progress Telerik UI for .NET MaUI 2024 Q4 v8.0.0 (13 Nov 2024) Retail Version_SourceBaran.Com\Telerik_Collection_2025_Q2_Downloadly.ir" />
	</packageSources>

</configuration>